*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;;
}
/* header and navigation style */
header{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: bottom left ;
    background-size: cover;
    
    
}
.banner{
    display: flex;
    margin: 0 50px;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    inline-size: 500px;
    padding: 250px 200px 24px 1115px;
}
.banner-description{
    color: #444343;
    font-size: 16px;
    text-align: right;
    display: flex;
    margin-bottom: 15px;
    margin-left: 1115px;
    inline-size: 500px;
    /* margin: 200px 230px 276px 1100px;; */
}
.btn-primary{
    margin: 32px 230px 166px 1460px;;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    width: 150px;
    height: 64px;
    background-color: #fd6e0a;
    border: none;
    border-radius: 5px;
}
/* Section */

.section-title{
    color:  #151414;
    font-weight: 700;
    font-size: 40px;
    inline-size: 350px;
    text-align: right;
    margin-top: 370px;
    margin-left: 910px;
}
.section-description{
    color: #444343;
    inline-size: 400px;
    padding-top: 24px;
    padding-left: 1000px;
}
.image{
    width: 500px;
    position:relative;
    margin-left: 290px;
    /* margin-bottom: 100px; */
    bottom: 400px;
}
.ul-lists{
    color: #444343;
    font-weight: 400;
    padding-top: 24px;
    font-size: 16px;
    margin-left: 1000px;
     list-style: none;
}
/* My plan designs */
.i-do{
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.skills-container{
    display: flex;
    gap: 5px;
    margin-top: 100px;
}
.skill{
    border-radius: 5px;
    padding-left: 210px;
}
.second-section-title{
    /* margin-top: 130px; */
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}


.skill-title{
    width: 270px;
    height: 35px;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 30px;
   
}
.skill-description{
    /* width: 177px; */
    /* height: 29px; */
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    /* margin-right: 20px; */
    /* inline-size: 350px; */
    margin-top: 16px;
    /* text-align: left; */
    /* line-height: 29px; */
    /* text-align: left; */
}
.call-me{
    margin-top: 200px;
    inline-size: 700px;
    margin-left: 300px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    background: url('../images/watch.png') , url('../images/gradient2.png');
    border-radius: 8px;
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    padding: 130px 270px;
    /* background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%); */
}
.call-me-container{
    margin: 45px 60px;
}
.call-title{
    inline-size: 600px;
    margin-bottom: 24px;
}
.btn-secondary{
    /* margin-top: 24px; */
    color: #fd6e0a;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    width: 150px;
    height: 64px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
/* Contact Styles */
footer{
    display: flex;
    gap: 380px;
    background: #151414;
    color: #FFFFFF;
    padding: 150px 470px;
}

.subscribe-title{
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 25px;
}
.contact-me input[type="email"], textarea{
    margin-bottom: 30px;
    text-align:justify;
    border: 0;
    width: 325px;
    height: 64px;
    border-radius: 5px;
    background: #FFFFFF;
    color: #151414;
}
.footer-title{
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 16px;
}
.footer-description{
    padding-bottom: 16px; 
}
